:root{
    --white1: #fff;
    --dark1: #272727;
    --dark2: #2d2d2d;
    --dark3: #1c1c1c;
    --purple1: #b040ff;
    --yellow1: #ffd700;
}

*{
    margin:0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(#1c1c1c,#272727);
    color:var(--white1);
}

/*COMEÇO HEADER*/

.logo_header{
    width: 200px; 
}

.header,.navegador_header{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.header{
    background-color: var(--dark2);
    box-shadow: 0px 1px 4px var(--dark3); 
    height: 56px; 
    justify-content: space-between;
    padding: 0 6%; 
}

.navegador_header{
    gap: 48px; 
    z-index: 2; 
}
.navegador_header a{
    text-decoration: none;
    transition: 1s; 
    font-weight: bold;
}

.ativo{
    background-color: var(--yellow1);
    padding: 10px; 
    border-radius: 10px; 
    color:var(--dark1);
}

.ativo:hover{ 
    background-color: var(--purple1);
    text-decoration: none;
    color: var(--dark1)
}

.nativo{
    color: var(--yellow1)
}

.nativo:hover{ 
    color:var(--purple1);
    text-decoration: none;
}

/*FINAL HEADER*/

.content{
    text-align: justify;
    padding-top: 30px; 
    margin-left: 120px; 
    margin-right: 120px;
    transition: 1s;    
    font-size: 18px;
}

h1{
    color: var(--purple1);
    font-weight: bold;
    text-align: center;
}

.pad{
    background-color: var(--dark2);
    box-shadow: 0 0 6px var(--dark3);
    padding: 40px;
    opacity: 100%;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 0px;
}

#box_geral{
    background-color: var(--dark2);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 6px var(--dark3);
    max-width: 350px;
    text-align: center;
    align-items: center;
    display: block;
    margin: auto
}

#titulo{
  margin-top: 20px;
  
}

#calculadora{
  width: 100%;
  height: 100%;
}

#box_altura{
  margin-top: 29px;
}

#box_peso{
  margin-top: 30px;
}

#box_enviar{
  margin-top: 30px;
}

label{
  font-size: 20px;
}


/*COMEÇO SIDEBAR*/

.btn_icon_header{
    background-color: transparent;
    border: none;
    color: var(--white1);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px){ 
    .btn_icon_header{
        display: block;
    }
    .navegador_header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--dark2);
        height: 100%;
        width: 35vw; 
        padding: 16px; 
        animation-duration: 1s; 
        margin-left: -100vw; 
        box-shadow: 1px 1px 4px var(--dark3);
    }
    .content{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@keyframes showSidebar { 
    from {margin-left: -100vw;}
    for {margin-left: -10vw;}
}

/*FINAL SIDEBAR*/

/*COMEÇO FOOTER*/
.footer{
    background-color: var(--dark2);
    text-align: center;
    color:var(--yellow1);
    padding: 20px;
    flex-direction: column;
    font-weight: bold;
    box-shadow: 0px -1px 4px var(--dark3);
}
/*FINAL FOOTER*/